   @model Bridges2._4.Models.BookingViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Schedules</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="~/css/schedulessss.css">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="ticket-outline"></ion-icon>
                        </span>
                        <span class="title">Booking Train</span>
                    </a>
                </li>


                <li>
                    <a asp-action="Dashboard" asp-controller="Admin">
                        <span class="icon">
                            <ion-icon name="train-outline"></ion-icon>
                        </span>
                        <span class="title">Train</span>
                    </a>
                </li>

                <li>
                    <a asp-action="Station" asp-controller="Admin">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Station</span>
                    </a>
                </li>


                <li>
                    <a asp-action="Schedule" asp-controller="Admin">
                        <span class="icon">
                            <ion-icon name="list-outline"></ion-icon>
                        </span>
                        <span class="title">Schedule</span>
                    </a>
                </li>


                <li>
                    <a asp-action="User" asp-controller="Admin">
                        <span class="icon">
                            <ion-icon name="person-outline"></ion-icon>
                        </span>
                        <span class="title">User</span>
                    </a>
                </li>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>

                <li>
                    <a asp-action="Logout" asp-controller="Account">
                        <span class="icon">
                            <ion-icon name="person-outline"></ion-icon>
                        </span>
                        <span class="title">Logout</span>
                    </a>

                </li>










            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <div class="user">
                </div>
            </div>

            <!-- ======================= Cards ================== -->
            <!-- ================ Order Details List ================= -->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Trip Schedules</h2>
                        <a asp-action="AddSchedule" asp-controller="Admin" class="btn"> Add Schedule</a>
                    </div>

                    <table>
                        <tr>
                            <th>Id</th>
                            
                            <th>Train-Name</th>
                            <th>Dep. Sta</th>
                            <th>Arr. Sta</th>
                            <th>Dep. Date</th>
                            <th>Dep. Time</th>
                            <th>Fare</th>
                            <th></th>
                            <th></th>

                        </tr>
                        @foreach(var schedule in Model.Schedules)
                        {
                            <tr>
                                <td>@schedule.Id</td>
                                <td>@schedule.TrainName</td>
                                <td>@schedule.DepartureStation</td>
                                <td>@schedule.ArrivalStation</td>
                                <td>@schedule.DepartureDate</td>
                                <td>@schedule.DepartureTime</td>
                                <td>@schedule.Fare</td>

                                <td><a asp-action="DeleteSchedule" asp-controller="Admin" asp-route-id="@schedule.Id"><button>Delete</button></a></td>
                                <td>
                                    <a asp-action="UpdateSchedule" asp-controller="Admin" asp-route-id="@schedule.Id"><button>Update</button></a>
                                </td>
                            </tr>
                        }


                    </table>
                </div>
                <!-- ================= New Customers ================ -->
                <!-- =========== Scripts =========  -->
                <script src="~/is/schedul.js"></script>

                <!-- ====== ionicons ======= -->
                <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
                <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>